
################################################################################
# GITIGNORE FILE
################################################################################

desktop.ini

# build data / generated data / etc...
[Tt][Ee][Mm][Pp]/

obj
bin

# vs cache data
tools/debug/.vs/
tools/debug/enc_temp_folder/
